opencv-python
torch==2.6.0
torchvision==0.20.1
torchaudio==2.6.0
onnxruntime
pandas
numpy
cupy-cuda11x
gitpython  # Use the latest version
bettercam
colorama
requests
ultralytics
customtkinter
pywin32  # Added for Windows API functions
