opencv-python
torch==2.4.1+cu118
torchvision==0.19.1+cu118
torchaudio==2.4.1+cu118
onnxruntime
pandas
numpy
gitpython==3.1.43  # Correct latest version of GitPython
bettercam
colorama
requests
