ultralytics==8.3.94
opencv-python==4.11.0.86
numpy==2.1.1
cupy
torch==2.6.0
torchvision==0.21.1
torchaudio==2.6.0
torch-directml==2.6.0
onnx==1.17.0
onnx-simplifier==0.4.36
onnxruntime==1.21.0
onnxruntime-directml==1.21.0
pycuda
tensorrt
colorama
customtkinter
pywin32==310
pandas
requests
