opencv-python
torch  # Let pip choose the compatible version
torchvision  # Let pip choose the compatible version
torchaudio  # Let pip choose the compatible version
onnxruntime
pandas
numpy
gitpython==3.1.43  # Correct latest version of GitPython
bettercam
colorama
requests
ultralytics
torch-directml  # Latest version for AMD GPUs on Windows using DirectML
onnxruntime-directml  # Use ONNX Runtime with DirectML support for AMD GPUs
